 
 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
 
 
* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Poppins', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}


a, .btn {
    transition: all 300ms ease;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    -webkit-flow-into: 1.5rem;
}

a {
    color:black;
    text-decoration: none;
    text-decoration: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 1.8rem;

}

.logo:hover {
    cursor: default;
}


.section {
    padding-top:  4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
 
.section-container {
    display: flex;
}

#profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5rem;
    row-gap: 2rem;
    padding: 20px 0;
    align-items: center;
    min-height: 80vh;
}

.section-pic-cointainer img {
    border-radius: 580px;
    width: 390px;
}

.section-pic-cointainer {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-items: center;
    text-align: center;
    
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    height: 40px ;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

/*BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1:hover, .btn-color-2:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.btn-color-2, .btn-color-1 {
    background: none;
}

.btn-container {
    gap:  1rem;
}

.btn-container button, #socials-container svg {
    cursor: pointer; 
}

.about-1 {
text-align: center;
padding-top: 10px;
background-color: #F5F5F5;
padding: 20px;
}

.section__text__p1_h1 {
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    color: inherit;
    font: inherit;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
    max-width: 800px; 
}

.socials-container{
    width: 90px;
    display: flex;
    padding-left: 130px;
    gap: 7px;
    padding-top: 10px;
    transition: transform 0.2s ease-in-out;
}

.socials-container svg{
    transition: transform 0.3s ease;
    cursor: pointer;
}

.socials-container svg:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Cards*/

.card-1 {
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 180px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

.card-2 {
    border-radius: 20px;
    margin-left: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}


:root {
    --primary-color:var(#4000ff);
}


.hints {
    text-align: center;
    padding: 1.4rem 0;
    background-color: whitesmoke;
    font-weight: 600;
}

mark {
    padding: 0.5rem 1.5rem;
    border-radius: 0.9rem;
    background-color: gold;
}

.timeline-wrapper {
    max-width: 100vw;
    height: 88vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline {
    height: 12rem;
    padding: 0 4rem;
   
    list-style-type: none;
    
}

.timeline li {
    position: absolute;
    width: 20rem;
}

.timeline li::before {
    position: absolute;
    content: "";
}





/*skills*/


.titulo-skills {
    text-align: center;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 1rem;
}
.titulo-front {
    text-align: center;
    color: black;
    text-align: center;
    margin-bottom: 3rem;
}

.blocos-front{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.skill-complete {
    transition: transform 0.3s ease;
    cursor: pointer;
}


.skill-complete:hover {
    transform: scale(1.2);
}


.skill {
    background-color: #ddd;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
}

.skill-html {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.logo-html {
    width: 100px;
    height: auto;
}

.skill-html img {
    margin-bottom: 15px;
}

.skill-css {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.logo-css {
    width: 100px;
    height: auto;
}

.skill-css img {
    margin-bottom: 15px;
}

.skill-sass {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.logo-sass {
    width: 100px;
    height: auto;
    
}

.skill-sass img {
    margin-bottom: 40px;
    
}


.skill-bootstrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.logo-bootstrap {
    width: 100px;
    height: auto;
}

.skill-bootstrap img {
    margin-bottom: 15px;
}

.skill-react {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.logo-react {
    width: 100px;
    height: auto;
}

.skill-react img {
    margin-bottom: 30px;
}

.skill-angular {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.logo-angular {
    width: 100px;
    height: auto;
}

.skill-angular img {
    margin-bottom: 18px;
}

.skill-redux {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo-redux {
    width: 100px;
    height: auto;
}

.skill-redux img {
    margin-bottom: 28px;
}

.titulo-backend {
    text-align: center;
    color: black;
    text-align: center;
    margin-bottom: 3rem;
}

.blocos-backend {
    margin-bottom: 2rem;
}

.skill-mongo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.skill-mongo {
    width: 100px;
    height: auto;
}

.skill-mongo img {
max-width: 100px; 
height: auto;
margin-bottom: 28px;
}

.skill-node {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.skill-node {
    width: 100px;
    height: auto;
}

.skill-node img {
max-width: 100px; 
height: auto;
margin-bottom: 30px;
margin-top: 40px;
}


.skill-python {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.skill-python {
    width: 100px;
    height: auto;
}

.skill-python img {
max-width: 100px; 
height: auto;
margin-bottom: 28px;
}

.skill-firebase {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    margin: 0.5rem;
    flex: 1 0 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.skill-firebase {
    width: 100px;
    height: auto;
}

.skill-firebase img {
max-width: 100px; 
height: auto;
margin-bottom: 45px;
}

.blocos-backend{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}


/*Portfolio*/

section.portfolio {
    padding: 80px 4%;
    background-color: rgba(102, 98, 98, 0.166);
}

.flex {
    gap: 9px;
}

section.portfolio .flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;

}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overylay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000005a;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overylay:hover{
    opacity: 1;
}


h2 { 
    color: black;
    text-align: center;
    
}

span {
    color: gray;
}


/*ESTILO DO FORMULARIO DE CONTATO */ 

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    background-color: rgba(0, 0, 0, 0.185);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #030303;
    font-size: 18px;

}

form textarea{
    resize: none;
    max-height: 500px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #03030326;
    color: #030303;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px   #4000ff;
    transform: scale(1.05);


}

/*ESTILO DO RODAPE */


.interface-rodape {
    background-color: grey;
    height: 200px;
}

footer .flex{
    justify-content: space-between;
}

.btn-social {
    display: flex;
    justify-content: center;
    height: 40px ;
    gap: 1rem;
    padding: 40px;
    margin-left: 30px;
}

.btn-social svg{
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn-social svg:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.contato-rodape{
   text-align: center;
}

.frase1-rodape {
    color: black;
}

.frase-rodape {
 color:  black;
}

.frase-rodape:hover {
    color: white;
    text-decoration: none;
}
 
.menu-hambuguer {
    display: none;
}


@media screen and (max-width: 600px) {
    .contem-tudo{
        min-width: 480px;
    }
    
    .menu-normal {
        display: none;
    }

    .menu-hambuguer {
        display: block;
    }






}