
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header-menu {
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.list-itens li{
  list-style: none;
  display: inline-block;
  padding-right: 4px;
  margin-right: 45px;
  margin-top: 30px;
}

.list-itens li a {
  color: black;
  text-decoration: none;
}

.list-itens {
 display: flex;
 list-style: none;
 gap: 20px;
}

 h1 {
  margin-right: 600px;
  margin-top: 20px;
 }
